@mixin flexContainer($direction) {
  display: flex;
  flex-direction: #{$direction};
}

.ownPage__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.singleChat {
  flex: 1;
  height: 100%;
  background-image: url('../assets/images/1675517272_top-fon-com-p-krutoi-fon-dlya-prezentatsii-36.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.chatlist__container {
  @include flexContainer(column);
  padding: 15px 20px 20px;
  border-right: 1px solid rgb(236, 236, 236);
}

.typesOfResults {
  @include flexContainer(row);
  box-sizing: border-box;
  justify-content: center;
  & .typeAnchor {
    cursor: pointer;
    font-size: 14px;
    padding: 10px 10px 15px;
    transition: background-color 0.15s;
  }

  & .typeAnchor:hover {
    background-color: var(--theme-light);
  }

  border-bottom: 1px solid var(--black-color);
}

.resultsList {
  margin: 10px 0;
}
